
.postInfo{
    margin-left: 14%;
}
.postitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.editbutton{
    margin-left: 80%;
}
.button{
    margin-left: 1%;
}